.container {
    width: 400px;
    border-radius: 0.6em;
    padding: 20px;
    box-shadow: 20px 20px 60px #97a1a1, -20px -20px 60px #ffffff;
    margin: 20px auto;



    background: linear-gradient(#0B0C10, #1F2833);
    color: #66FCF1;


    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: nowrap;
    flex-flow: column nowrap;
}